"*":
  "atom-beautify":
    html: {}
    python:
      beautify_on_save: true
  "atom-clock":
    dateFormat: "MMMM Do, dddd, h:mm a"
    showClockIcon: true
  "autocomplete-plus":
    useCoreMovementCommands: false
  core:
    packagesWithKeymapsDisabled: []
    telemetryConsent: "no"
  editor:
    fontSize: 16
    scrollPastEnd: true
  "exception-reporting":
    userId: "21510a71-4d6d-4175-ae6f-03b8bb365e85"
  "linter-flake8":
    ignoreErrorCodes: [
      "E501"
    ]
  "linter-ui-default":
    showPanel: true
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "platformio-ide-terminal":
    ansiColors:
      normal:
        blue: "#16e90d"
        magenta: "#3fdf12"
      zBright:
        brightBlue: "#26ed16"
        brightMagenta: "#18df0f"
  welcome:
    showOnStartup: false
